.home img{
  width: 100%;
}
.logo_small {
  width: 2.5rem;
  height: 1.3rem;
  margin: 0 auto;
  margin-top: .2rem;
}
.home_search_btn{
  width: 60%;
  margin-left: 20%;
  margin-top: .3rem;
}
.home_phone div{
  display: inline-block;
  width: .26rem;
  height: .26rem;
  position: relative;
  left: -5px;
  top: 2px;
}
.home-notice img{
  width: .3rem;
  position: relative;
  left: .1rem;
}
.home-notice{
  text-align: center;
  margin-top: .2rem;
}
.home-notice a{
  /*text-decoration: underline;*/
  font-size: .24rem;
  color: #333;
  display: inline-block;
  position: relative;
}
.home-notice a:before{
  content: '';
  display: block;
  width: 90%;
  height: .1px;
  position: absolute;
  left: .09rem;
  bottom: 0rem;
  text-align: center;
  background-color: #333;
}
.home_phone span{
  margin-left: .1rem;
  position: relative;
  top:-0.02rem;
}
.home_phone{
  text-align: center;
  margin-top: .2rem;
}
.home_phone a{
  color: #d5393c;
}
.home-footer{
  margin-top: .7rem;
}
.home-footer a{
  float: left;
  text-align: center;
  width: 33.33%;
  font-size: .24rem;
  color: #333;
}
.home-footer p{
  font-size: .16rem;
}
.home-footer a img{
  width: .66rem;
  height: .66rem;
}
