
<div class="home">
  <div class="header">
    <h5>首页</h5>
  </div>
  <img src="../../../assets/imgs/banner.png" alt="首页图">
  <div class="logo_small"><img src="../../../assets/imgs/logo_small.png" alt="logo"></div>
  <div class="btn home_search_btn" (click)="search()">
    快速找料
  </div>
  <div class="home_phone"><div><img src="../../../assets/imgs/phone_red.png" alt="phone"></div><span class="txt">电话: 400-45-45</span></div>
  <div>
    <a routerLink="/home-explain" >1</a>
    <a routerLink="/home-explain" >2</a>
    <a routerLink="/home-explain" >3</a>
  </div>
</div>
<app-footer></app-footer>
