/* You can add global styles to this file, and also import other style files */
.layui-m-layershade{
  background-color: rgba(0,0,0,0);
}
.layui-layer-msg{
  box-shadow: none !important;
  background-color: #000 !important;
  color: #fff !important;
  border-radius: .1rem !important;
  border: none !important;
}
